<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
  </configSections>

  <connectionStrings>
    <!-- localhost -->
    <add name="NServiceBus/Transport"
         connectionString="
         host=localhost;
         password=guest;
         port=5672;
         username=guest;
                          " />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Assembly="NServiceBusTutorials.StepByStepExample.Contracts" Type="NServiceBusTutorials.StepByStepExample.Contracts.Events.OrderPlaced" Endpoint="NServiceBusTutorials.Server" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
