<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
     <!--localhost--> 
    <add name="NServiceBus/Transport"
         connectionString="
         host=localhost;
         password=1breakthings!;
         port=5672;
         username=NServiceBusTutorials;
         virtualhost=NServiceBusTutorials;
                          " />

    <!-- houston -->
    <!--<add name="NServiceBus/Transport"
         connectionString="
         host=tsestmrmq02corp;
         password=1breakthings!;
         port=5672;
         username=NServiceBusTutorials;
         virtualhost=NServiceBusTutorials;
                          " />-->

    <!-- gulfdale -->
    <!--<add name="NServiceBus/Transport"
         connectionString="
         host=tsestmrmq05gulf;
         password=1breakthings!;
         port=5672;
         username=NServiceBusTutorials;
         virtualhost=NServiceBusTutorials;
                          " />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>