<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <!-- localhost -->
    <!--<add name="NServiceBus/Transport"
         connectionString="
         host=localhost;
         password=1breakthings!;
         port=5672;
         username=NServiceBusTutorials;
         virtualhost=NServiceBusTutorials;
                          " />-->

    <!--houston 01-->
    <!--<add name="NServiceBus/Transport"
         connectionString="
         host=tsestmrmq01corp;
         password=1breakthings!;
         port=5672;
         username=NServiceBusTutorials;
         virtualhost=NServiceBusTutorials;
                          " />-->

    <!-- houston 02 -->
    <add name="NServiceBus/Transport"
         connectionString="
         host=tsestmrmq02corp;
         password=1breakthings!;
         port=5672;
         username=NServiceBusTutorials;
         virtualhost=NServiceBusTutorials;
                          " />

    <!-- houston 03 -->
    <!--<add name="NServiceBus/Transport"
         connectionString="
         host=tsestmrmq03corp;
         password=1breakthings!;
         port=5672;
         username=NServiceBusTutorials;
         virtualhost=NServiceBusTutorials;
                          " />-->

    <!-- gulfdale 04 -->
    <!--<add name="NServiceBus/Transport"
         connectionString="
         host=tsestmrmq04gulf;
         password=1breakthings!;
         port=5672;
         username=NServiceBusTutorials;
         virtualhost=NServiceBusTutorials;
                          " />-->

    <!-- gulfdale 05 -->
    <!--<add name="NServiceBus/Transport"
         connectionString="
         host=tsestmrmq05gulf;
         password=1breakthings!;
         port=5672;
         username=NServiceBusTutorials;
         virtualhost=NServiceBusTutorials;
                          " />-->

    <!-- gulfdale 06 -->
    <!--<add name="NServiceBus/Transport"
         connectionString="
         host=tsestmrmq06gulf;
         password=1breakthings!;
         port=5672;
         username=NServiceBusTutorials;
         virtualhost=NServiceBusTutorials;
                          " />-->
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>